/* 
    Document   : artificial
    Created on : Jun 13, 2015, 5:07:41 PM
    Author     : hack
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    display: block;
    padding:0px;
    margin:0px;
}

section {
    display:block;
}

.ui-header {
    background-color:#570087 !important;
    color:black;
}

.ui-header h1 a:visited,.ui-header h1 a:link,.ui-header h1 a:hover,.ui-header h1 a:active{
    color:white !important;
    text-shadow:none !important;
}

#content {
   /* padding:.25% 1% .25% 1%;*/
    background-color:white;
    background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(225,225,225,0) 5%,rgba(235,235,235,0) 81%,rgba(238,238,238,1) 100%);
   /* min-height:500px;*/
}

#contact {
    padding:3% 5% 3% 5%;
    background-color: #570087;
    text-align:center;
    text-shadow:none;
    color:white;
    font-family: Montserrat, Arial, sans-serif;
}

#footer {
    padding:3% 5% 3% 5%;
    background-color:white;
    color:black;
    font-family: Montserrat, Arial, sans-serif;
}
.message .recv {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.message .subject {
/*    text-overflow: ellipsis;
    overflow: hidden;
    max-width:100%;*/
    white-space: nowrap;
    
} 



#LoginDialog {
    padding:30px;
    height:400px;
}


#loginArea {
    display:inline;
    float:left;
    /*border-left:1px solid lightgrey;
    padding-left:40px;*/
    max-width:400px;
    min-width:250px
}


#intro h1 {
    text-align:center;
}

#intro #logo {
    margin:0em auto;
}

#intro p {
    padding:1.5em
}

#registerArea {
    padding:20px;
    margin:3em auto;
    color:white;
    text-shadow:none;
    background-color:#570087;
    border-radius:5px;
    max-width:400px;
    min-width:250px
}

.emailHeaders th {
    text-align: left;
}

.envelope th {
    text-align: left;
}

.imagesFlipSwitch a {
      text-indent: -3.8em !important; 
}

.messageGmail {
    border-top:1px solid #cfcfcf;
    border-bottom:1px solid #cfcfcf;
    padding-top: 20px;
    margin-left: 5%;/* Emulate the Sidebars of Gmail, so the email looks a similar size.*/
}


.previewimage {
    max-width:800px;
    width:100%;
    box-shadow: 10px 5px 10px gray;
}

.error {
    color: red;
    background-color: white;
    padding: .5em;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.ui-btn.ui-btn-b {
      background-color: #570087 !important;
}

.infoblock3 {
  width: 30%;
  float: left;
}

.row {
  border-top: 1px solid;
}

